*{
    box-sizing: border-box;
    margin: 0;
}

h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(184, 122, 7);
}

.navbar{
    background-color: #444;
    width: 100%;
    overflow: auto;
}

.navbar a{
    float: left;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 12px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: seagreen;
}
.active{
    background-color: rgb(184, 122, 7);
}


#tone{

    background-color: rgb(236, 236, 236);
    height: 120px;
}


h2{

}

form.searchBar input{
    width: 500px;
    font-size: 20px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    background: #f1f1f1;
    float: left;
    border-right: none;
 
}

form.searchBar button{
float: left;
background-color: rgb(184, 122, 7);
padding: 11.5px;
font-size: 20px;
border-left: none;
}

form.searchBar button:hover{
    background-color: seagreen;
}

h4{
    text-align: center;
    background-color: #444;
    color: rgb(184, 122, 7);
    padding: 10px;
    font-weight: bold;
    font-size: 20px; 

}

div.whips ul {
    text-align: center;
    background-color: #eee;
    height:300px;
    
}

a:hover{
    color: white;
}



a {
    text-decoration: none;
    color: rgb(184, 122, 7);
    
      
}

img{
    width: 700px;
}

footer{
    text-align: center;
    color: rgb(184, 122, 7);
    font-size: 20px;
}